//Style

.sidebar-right{
    @include rtl-padding-left(0);
}
.sidebar-left{
    @include rtl-padding-right(0px);
}
.content-right{
  @include rtl-padding-right(50px);
}
.content-left{
    @include rtl-padding-left(50px);
}
.archive-sidebar{
    margin-bottom: 50px;
}

.sidebar{
    color: #555555;
    font-size: 15px;
    .content-inner{
        padding-bottom: 15px;
        background: none;
        box-shadow: none;
    }
    aside{
        margin-bottom: 50px;
        .widgettitle +*{
            padding: 0;
            border-top: 0;
        }
        &:last-child{
            margin-bottom:0px;
        }
    }
    //tag html =========================================================================================================
    a{
        color: #818181;
        &:hover{
            color: #131313;
        }
    }
	ul{
		list-style: none;
		padding: 0;
		li{
			border-bottom: 1px dashed #DADADA;
			color:#818181;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			padding: 15px 0;
			&:last-child{
				padding-bottom: 0;
				border-bottom:none;
			}
			&.current-cat >a{
				color: #131313;
			}
			.children{
			  	border-top:none;
			}
			ul li{
				padding-left: 20px;
				&:first-child{
				  	padding-top: 15px;
				}
			}
			&:first-child{
			  	padding-top: 0;
			}

		}
	}

    //element ==========================================================================================================
    .widget{
        overflow: visible;
        &:first-child{
            .widgettitle{
                border-top:none;
            }
        }
    }
    .widgettitle{
        img{
            width:auto;
            height: auto;
        }
    }
    .widgettitle + *{
        margin: 0;
        padding:0;
    }
    select{
        margin:20px 0 0;
        width: calc(100%);
    }
    .post-grid{
        .article-content{
            border: none;
            padding: 0;
        }
        .entry-content{
            display: none;
        }
    }
    //
    .widget.dropdown{
        .widgetcontent.dropdown-menu{
            position: relative;
            float: none;
            border: none;
            box-shadow: none;
        }
    }
    //
    //recentcomments
    #recentcomments{
        li > a{
            color: $theme-color;
        }
    }

    //Fixed Widgets ====================================================================================================
    .recent-post-widgets{
        p{
            display: none;
        }
        .side-item-text{
            float: left;
            width: 65%;
        }
        .entry-title{
            font-size: 16px;
        }
        .article-meta{
            padding: 5px 0;
        }
    }
}
.sidebar{
	.widget_categories{
		padding-top:10px;
	}

}
.widget{
	.recent-content{
		article{
			&:first-child{
				padding-top:0px;
			}
			padding: 10px 0px;
			&:last-child{
				padding-bottom:0px;
			}
		}
	}
}

/* newletter */
.newsletter_wrap{
	.form-newsletter{
		margin-bottom: 32px;
	}
	background:#1b1c27;
	padding:30px 30px 25px;
	.newsletters{
		.share-social{
			display: table;
			margin: auto;
			li{
				margin-left: 5px;
			}
		}
	}
}
.newsletters{
	.title{
		font-family:$poppins;
		font-size: 18px;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		font-weight: 600;
		margin-bottom:20px;
	}
	p{
		font-size:14px;
		color:#fff;
		font-weight:400;
		font-family:$poppins;
		text-align:center;
	}
	.group-input-newsletter{
		input[type="email"]{
			min-width:0px !important;
			width: 100% !important;
			font-size:13px;
			color:#cacad1;
			font-family:$poppins;
			&::-webkit-input-placeholder {
			font-size:13px;
			color:#cacad1;
			font-family:$poppins;
			}
			&::-moz-placeholder { 
			font-size:13px;
			color:#cacad1;
			font-family:$poppins;
			}
			&:-ms-input-placeholder {
			font-size:13px;
			color:#cacad1;
			font-family:$poppins;
			}
			&:-moz-placeholder { 
			font-size:13px;
			color:#cacad1;
			font-family:$poppins;
			}
		}
		.input-group-btn{
			input{
				
				width: 100%;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				    height: 40px;
				font-weight: 600;
				color: #2f2f33;
				font-size: 14px;

			}
			}
	}
	.share-social{
		padding-left:0px !important;
		margin-left: 0px;
		li{
			margin-right:5px;
			&.youtube{
				background: #cd312a;
				i{
				}
			}
			a{
				vertical-align: middle;
			}
		}

	}
}
.des-newsletter{
	h4.title{
		font-size: 18px;
		text-transform: uppercase;
		color: #fff;
		font-weight:600;
	}
	p{
		    color: #fff;
    text-align: center;
	}
}
.newsletter_wrap{
	p{
		margin-bottom:15px;
	}
}
aside.widget_featured_post{
	.article-content{
		padding-top:0px;
	}
}
.des-newsletter h4.title{
	text-align: center;
	margin-bottom: 12px;
}

@media (min-width:992px) and (max-width:1199px){
	aside .newsletter_wrap{
		padding-left:15px;
		padding-right:15px;
	}
}
@media (max-width:1199px){
	.search-results{
		#archive-sidebar{
			padding-left:0px;
			padding-right:0px;

		}
	}
}
aside{
	&.information_widget{
		text-align: right;
		padding-top: 4px;
	}
}
.mc4wp-form{
	.social-item > a i{
     font-size: 14px;
	}
}

div.slick-list.draggable{
	float: none;
    width: auto;
}
.ccc-converter>div{
	padding:0px !important;
	input{
		box-shadow:none;
		padding: 0;
		    height: 40px;
			line-height: 40px;
			    padding: 0px 15px;
				font-size:13px;
		color:#63636a;
		font-family:$poppins;
	}
	.fromSymbolLabel{
		height: 40px;
		line-height: 40px;
		font-size:13px;
		color:#63636a;
		font-family:$poppins;
	}
	#cccc_tsym_sel_converter{
		height: 40px;
		line-height: 40px;
		font-size:13px;
		color:#63636a;
		font-family:$poppins;
	}
}
.des_exchange{
	margin-bottom: 10px;
	margin-top:10px;
}
.convertForm{
	.section-converter-ccc{
		select{
			width: 110px;
			margin: 0px;
		}
	}
}

