
.widget{
    //border: 1px solid black;
    select{
    }
    &.center{
        text-align: center;
    }
    &.left{
        @include rtl-text-align-left();
    }
    &.right{
        text-align: center;
    }
}
.widgettitle,.box-title{
    border-bottom: 1px solid #ecede7;
    position:relative;
    text-transform: uppercase;
    @include rtl-padding-left(25px);
    padding:0px 0px 10px 24px;
    margin-bottom: 20px;
    font-size: 18px;
    display: block;
    &:after{
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        bottom: auto;
        left: 0px;
        top: 4px;
        border:1px solid #fff;
        z-index:4;
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: $theme-color;
    }
    &:before{
        content:"";
        display:block;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        bottom: auto;
        left: 4px;
        top: 4px;
        z-index:3;
        background: #fcd57f;
        position: absolute;
        border: 1px solid #fff;
    }
}

//Content widget
.widgetcontent{
}

//calendar
.widget_calendar{
    table > thead > tr > th{
        border-bottom: $border-color-base;
    }
}
//widget_layered_nav
.widget_layered_nav,.widget_layered_nav_filters{
    ul li{
        &.chosen{
            vertical-align:middle;
            color: $theme-color;
             > a{

                 color: $theme-color;
                 &:before {
                     border: none;
                     background: $theme-color;
                 }
                 &:after{
                     color: #FFF;
                     content: "";
                     display: block;
                     font-family: "icomoon";
                     font-size: 16px;
                     height: 18px;
                     @include rtl-left(0px);
                     position: absolute;
                     text-align: center;
                     top: 0;
                     width: 18px;
                     line-height: 18px;
                     z-index: 10;
                 }
                 &:hover{
                     &:after{
                         content: "\e780";
                     }
                 }
             }
        }
        a{
            line-height: 20px;
            position: relative;
            @include rtl-padding-left(30px);
            display: inline-block;
            &:before {
                content: "" !important;
                width: 18px;
                height: 18px;
                border: 1px solid #dfdfdf;
                display: block;
                position: absolute;
                @include rtl-left(0);
                border-radius: 100%;
                top: 0px;
                z-index: 5;
                background: transparent;
            }
            &:hover:before {
                border: none;
                background: $theme-color;
            }
        }
        &:hover .count{
            color: $theme-color;
        }
    }
}
.widget_layered_nav_filters{
    ul li{
        &.chosen{
            > a {
                &:after {
                    color: #FFF;
                    content: "\e780";
                    display: block;
                    font-family: "icomoon";
                    font-size: 16px;
                    height: 18px;
                    @include rtl-left(0px);
                    position: absolute;
                    text-align: center;
                    top: 0;
                    width: 18px;
                    line-height: 18px;
                    z-index: 10;
                }
            }
        }
    }
}

//widget_search


//information_widget
.information_widget{
    .logo-footer{
        width: auto;
        margin-top: 15px;
    }
    .description{
        margin: 20px 0 15px;
        line-height: 30px;
    }
}
.page-content .wpb_revslider_element{
    margin-bottom: 0;
}

//widget-related
.widget-related {
    .widgettitle{
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 50px;
        margin-top: 50px;
        text-transform: capitalize;
    }
    .related-wrapper{
        margin-bottom: 50px;
    }
}

.widget.recent_blog{
    padding-bottom: 0;
    .post-item{
        position: relative;
    }
    .widgettitle{
        font-size: 20px;
        color:$color-title;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        padding-bottom: 20px;
    }
    ul > li {
        @include rtl-padding-left(30px  !important);
    }
    li > a{
        font-weight: 500;
        color:$color-title;
    }

    .post-date{
        display: block;
    }
    .entry-title{
        padding: 0;
    }
    .entry-header{
        padding:15px 0;
    }
    .entry-title a{
        color: $color-title;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        @include rtl-padding-left(10px);
        display: block;
        &:hover{
            color: $theme-color;
        }
    }
    .entry-meta{
        font-size: 12px;
        color: $font-color;
        @include rtl-padding-left(10px);
        display: block;
    }
    .number-post{
        background: #ff4422 none repeat scroll 0 0;
        border: 2px solid #fff;
        border-radius: 100%;
        color: white;
        font-size: 14px;
        font-weight: 500;
        height: 35px;
        @include rtl-left(-15px);
        line-height: 34px;
        position: absolute;
        text-align: center;
        top: 40px;
        width: 35px;
        z-index: 99;
    }
    .size-bitther-sidebar{

    }
    .entry-header-title{
        @include rtl-float-left();
        width: 70%;
    }
    .post-item:last-child{
        border: none;
    }
    .post-image{
        @include rtl-float-left();
        width: 30%;
    }
    .no-image{
        .number-post{
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            color: #f2756f;
            font-size: 30px;
            font-weight: 300;
            @include rtl-left(-5px);
            top: 15px;
        }
        .entry-header-title{
            @include rtl-padding-left(40px);
            width: 100%;
        }
    }

}

//widget_apsc_widget
.widget_apsc_widget{
    margin-bottom: 60px;
}
.wpcf7-form{
    label{
        display: block;
    }
    .wpcf7-form-control{
        display: block;
        width: 100%;
    }
}
.bitther-tb{
	display:table;
	width:100%;
	.bitther-cell{
		display:table-cell;
		vertical-align:top;
		&.left{
			    float: left;
		}
	}
}
.widget_featured_post{
	background:#1b1c27;
	article.post-item{
		padding-left:30px;
		padding-right:30px;
	}
	.widgettitle{
		font-size:18px;
		line-height:60px;
		font-family:$poppins;
		color:#fff;
		text-align: center;
		padding-left: 0px;
		padding-bottom: 0px;
		padding-top: 10px;
		margin-bottom: 0px;
		border-bottom:none;
		&:after{
			display:none;
		}
		&:before{
			display:none;
		}
	}
	.item-1{
		.feature_post_widget{
			padding-top:0px;
		}
	}
		
	.featured-post{
		.row .item-related:last-child{
			.feature_post_widget{
				border-bottom:none;
			}
		}
		padding-bottom: 14px;
	}
}

.feature_post_widget{
	padding-top:15px;
	padding-bottom:15px;    border-bottom: 1px solid #44444a;
	.caption{
		padding-left: 20px;
	}
	.number{
		font-size:30px;
		color:#f02f23;
		font-family:$poppins;
	}
	.post_date{
		font-size:12px;
		color:#63636a;
		line-height:24px;
	}
	.entry-header-title{
		h3.entry-title{
			margin-bottom:3px;
			margin-top:3px;
			a{
				font-size:14px;
				font-weight:600;
				color:#fff;
				font-family:$poppins;
				line-height: 19px;
			}
		}
	}
}
.widget_featured_post{
	.archive-blog{
		padding-bottom:5px;
	}
}

//customize Bitcoin exchange
.histoTitleConverter{
    display: none;
}
.ccc-widget {
    label.priceLabel{
        padding:0;
        text-transform: uppercase;
        color: $color-title !important;
    }
    .section-converter-ccc{
        margin-bottom: 10px;
    }
}
//customize COINBASE CHART
.chart{
    .ccpw-chart li.c_info strong{
        font-size: 14px;
        color: $font-color;
        background: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
    }
    .coin_details ul li .chart_coin_price, .coin_details ul li .coin_market_cap{
        font-size: 24px;
        font-weight: 400;
        color: $color-title;
    }
    .coin_market_cap i{
        @include rtl-padding-right(5px);
    }
    .c_info{
        margin: 0 30px;
    }
    .amChartsPeriodSelector{
        margin-bottom: 7px;
    }
    .chart-wrp input.amChartsButton.amcharts-period-input, .chart-wrp input.amChartsButtonSelected.amcharts-period-input-selected{
        font-weight: 400;
        border: none;
        padding: 7px;
        background: none;
        &:hover{
            background: none;
            text-decoration: underline;
            color: $color-title;
        }
    }
    .chart-wrp input.amChartsButtonSelected.amcharts-period-input-selected{
        color: $color-title;
        text-decoration: underline;
    }
}
//

.ccpw-container div.row > div,.ccpw-container div.row  > li {
    background: none;
    box-shadow: none;
    padding: 0px 25px;
    margin: 0px;
    text-align: left;
}
.price-label .row div {
    background: transparent;
    list-style: none;
    padding: 6px;
    margin: 6px;
    max-width: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
//
.top-header{
    .widgettitle{
        display: none;
    }
}

















