//element html default

html{
    height: 100%;
}
body{
    margin: auto;
    font-size: $font-size-base;
    font-weight: 400;
    line-height: 26px;
    color: $font-color;
    background: $theme-bg;
	font-family:$poppins;
    overflow-x:hidden;
    height: 100%;
}
#page{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}
.site-content {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: auto;
    min-height: 0;
}
footer{
    clear: both;
    @include rtl-float-left();
    position: relative;
    @include rtl-right(0px);
    width: 100%;
}

a{
	line-height: 1;
    color: $font-color;
	&:hover,
	&:focus{
            outline: none;
            text-decoration: none;
            color: $theme-color;
	}
}
btn{
    @include transition(0.4s);
    &:hover,
    &:focus{
        @include transition(0.4s);
    }
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 400;
    color: $color-title;
}
h1,h2,h3,h4,h5,h6{
	font-family:$font-family-once;
	strong{
		font-weight:700;
	}
    > a{
        color:$color-title;
    }
}
h1{
	font-size:42px;
}
h2{}
h4{}
h5{}
h6{}

th{
  font-weight: 500;
}
select{
    height:40px;
    padding: 5px 10px;
    border: $border-color-base;
    font-size: $font-size-base;

}

label{
    color:$color-title ;
    font-size: $font-size-base;
    display:inline-block;
    vertical-align: middle;
    font-weight: 500;
}

b,strong{
    font-weight: 500;
}
.radio, .checkbox{
    display: inline-block;
}
blockquote {
    font-size: 24px;
    line-height: 24px;
    position: relative;
    padding: 60px 75px;
    border: 1px solid #ecede7;
    color: #2f2f33;
    background: #fff;
    font-weight: 600;
    text-align: center;
    margin: 55px auto 35px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    p{
        font-weight: 600 !important;
        font-size: 24px !important;
        line-height: 32px !important;
    }
    // 
    &:before{
        content: "\e67f";
        font-family: 'themify';
        border: 2px solid #58e89d;
        background: #2f2f33;
        border-radius: 100%;
        font-size: 18px;
        color: #f2b125;
        position: absolute;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 36px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
p{
    margin: 0 0 20px;
}
img{
    max-width: 100%;
    height: auto;
}
.img.size-full{
    height: auto;
    max-width: 100%;
}
.alignright{
    @include rtl-float-right();
}
.alignleft{
    @include rtl-float-left();
}
.aligncenter{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input{
    -webkit-appearance: none;
    appearance: none;
    border: medium none;
    border-radius: 3px;
    height: 40px;
    padding: 6px 12px;
}
.form-control{
    -webkit-appearance: none;
    appearance: none;
}
input[type="submit"]{
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    color: $theme-color;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    height: auto;
    line-height: 28px;
    padding: 3px 30px;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 2px;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    font-weight: 600;
    font-size: 14px;
}
/*video responsive*/
.video-responsive {
	height: 0;
	padding-top: 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
	embed,
	iframe,
	iframe,
	video{
		top: 0;
        @include rtl-left(0);
		width: 100%;
	  	height: 100%;
	  	position: absolute;
	  	border: none;
	}
}
.entry-content img,
.entry-content iframe,
.entry-content object,
.entry-content embed {
    max-width: 100%;
}

.audio-responsive iframe {
  width: 100%;
  height: 126px;
}
/*---clear css bootstrap --*/
// .dropdown-toggle
.btn-group.open .dropdown-toggle{
    box-shadow: none;
}
.alert{
    margin: 20px 0;
    padding: 20px;
}

.tags-list a, .tagcloud a {
    background:#FAFAFA;
    border: 1px solid #ddd;
    color: $font-color;
    display: inline-block;
    margin-bottom: 5px;
    @include rtl-margin-left(3px);
    padding: 7px 10px;
    font-size: 14px;
    &:hover{
        color: $theme-color;
    }
}
dt{
    font-weight: 500;
    color: $color-title;
}
.required {
    border: 0 none;
    color: #ff0000;
    font-weight: 700;
}

//Tag
.tagcloud a{
    font-size: 12px !important;
    color: $font-color;
    &:hover{
        color:$white;
    }
}

pre{
    border: none;
    border-radius: 0;
}

//table
table{
    background: #FFF;
    color: #212121;
    border: 1px solid #e5e5e5;
    thead{
        background: #FAFAFA;
        > tr > th{
            border-bottom: 1px solid #e5e5e5;
        }
    }
    th{
        font-weight: 400;
    }
    tbody{
        font-size: 13px;
    }
}
#today{
    a{
        color: #FFF;
    }
}
.pagination{
    @include rtl-padding-left(15px);
    width: 100%;
    .screen-reader-text{
        display: none;
    }
    .nav-links{
        margin: 30px 0 0;
       >*{
           background:#eeeeee;
           border: 1px solid #eeeeee;
           display: inline-block;
           height: 40px;
           line-height: 38px;
           margin-right: 10px;
           text-align: center;
           width: 40px;
           font-size: 15px;
           color: #201f1f;
           font-weight: bold;
       }
        a{
            color: #201f1f;
            &:hover{
                background: #201f1f;
                color: #FFF;
                border: 1px solid #201f1f;
            }
        }
    }
    .current{
        background:#201f1f;
        color: #FFF;
        border: 1px solid #201f1f;
    }
}

.page-links{
    .page-numbers{
        color: $theme-color;
        background: #fff none repeat scroll 0 0;
        display: inline-block;
        height: 45px;
        line-height: 45px;
        margin-left: 10px;
        position: relative;
        text-align: center;
        width: 45px;
    }
    .screen-reader-text{
        display: none;
    }
    a > .page-numbers {
        color: $font-color;
        &:hover{
            color: $theme-color;
        }
    }
    a{
        box-shadow:none !important;
    }
}
.searchform{
    .btn-primary{
        border: none;
    }
}
.nav > li > a:hover, .nav > li > a:focus{
    background: none;
}